# Godot 4+ specific ignores
.godot/

# ignore all obs stuff
obs/
# except default config
!support/obs
# let this build on release
frameio_upload.exe

build
!build/.gdignore
config.ini
config.ini.bak

.vscode
.favorites.json
my.secrets